{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-1">
        <h1>Récupération du fichier prestataire</h1>
        <br>
        {{ form(fileForm) }}

        <table class="table">
        <tr>

        </tr>

        </table>
    </div>

{% endblock %}
